aws cloud cost alert system.json
{
  "name": "aws cloud cost alert system",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cb922c6-90be-44fe-9cf8-f2157a9c40bf",
              "name": "Date",
              "value": "={{ $now.format('yyyy-MM-dd') }}\n",
              "type": "string"
            },
            {
              "id": "c5e8200a-d46b-4b92-8461-89ddcfb95dd0",
              "name": "=Account",
              "value": "={{ $json.from.text }}\n",
              "type": "string"
            },
            {
              "id": "9af11ed3-2a0f-4255-93b9-ca1300d15d1b",
              "name": "Amount Used",
              "value": "={{ $json.text.match(/ACTUAL Amount: \\$(\\d+\\.\\d+)/)?.[1].trim() }}",
              "type": "string"
            },
            {
              "id": "4e6d3461-f92d-4293-a910-50956dd0fe4c",
              "name": "Threshold",
              "value": "={{ $json.text.match(/Alert Threshold: > \\$(\\d+\\.\\d+)/)?.[1].trim() }}",
              "type": "string"
            },
            {
              "id": "0d68be72-4d54-460a-9693-96e664eb7aee",
              "name": "Budgeted Amount",
              "value": "={{ $json.text.match(/Budgeted Amount: \\$(\\d+\\.\\d+)/)?.[1].trim() }}",
              "type": "string"
            },
            {
              "id": "920208d6-96ca-4bc6-a9b2-a025bdf56969",
              "name": "Status",
              "value": "={{ Number($json.text.match(/\\$(\\d+\\.\\d+)/g)?.pop().replace('$','')) > Number($json.text.match(/\\$(\\d+\\.\\d+)/)?.[1]) ? '🔴 Over Budget' : '🟡 Warning' }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "dbab737a-9b70-4a60-9d22-11d81ffd8048",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HFBM_Rpxyk6yxyd-pocuDohTotGrGV8ysxVB82GqpO0",
          "mode": "list",
          "cachedResultName": "AWS Cost Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HFBM_Rpxyk6yxyd-pocuDohTotGrGV8ysxVB82GqpO0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HFBM_Rpxyk6yxyd-pocuDohTotGrGV8ysxVB82GqpO0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "Account": "={{ $json.Account }}",
            "Threshold": "={{ $json.Threshold}}",
            "Status": "={{ $json.Status }}",
            "Budgeted Amount": "={{ $json[\"Budgeted Amount\"] }}\n",
            "Amount Used": "={{ $json[\"Amount Used\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount Used",
              "displayName": "Amount Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Threshold",
              "displayName": "Threshold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budgeted Amount",
              "displayName": "Budgeted Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        0
      ],
      "id": "fd4ac07b-96b7-4c3d-9280-9dc5effb590b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "keN6zOk4qnaYd2qb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jwtaylor659@gmail.com",
        "subject": "=AWS Cost Usage - {{ $json.Status }}",
        "emailType": "text",
        "message": "=Date {{ $json.Date }}\nActual Amount: ${{ $json[\"Amount Used\"].trim() }}\nThreshold: {{ $json.Threshold }}%\nBudgeted Amount: ${{ $json[\"Budgeted Amount\"] }}\nStatus: {{ $json.Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        -16
      ],
      "id": "e2f6b29e-54e5-4653-a845-4aae23da1f2b",
      "name": "Send a message",
      "webhookId": "a4374b8b-47ce-487b-bc62-f031e6e9272c",
      "credentials": {
        "gmailOAuth2": {
          "id": "5AwevTLXFQ70qn1m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */5 * * * *"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "from:budgets@costalerts.amazonaws.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a2c0343-4835-4ad4-a90f-53c68fd18d3e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "5AwevTLXFQ70qn1m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7154b2b-6abc-4747-8b84-6aae025e9a11",
              "leftValue": "={{ $json.Threshold }}",
              "rightValue": "=.80",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        0
      ],
      "id": "c32670ec-e3a2-47d0-869b-5ada3644e568",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML from the previous node (change \"body\" if needed)\nconst html = $json.body || \"\";\n\n// Find the first $ amount in the HTML\nconst match = html.match(/\\$\\d+(\\.\\d+)?/);\n\n// Convert to number (default 0 if not found)\nconst amountUsed = match ? parseFloat(match[0].replace(\"$\", \"\")) : 0;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      amountUsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "fa265621-3353-4593-8efb-02a595fdfec9",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58c88650-7ab8-44cc-9754-b50743a84f9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "760c7a0e24122fb61dbdc56a28f845a63e1c145230ed64d11bcf66a511fb1181"
  },
  "id": "aORe5c9fdl9ak9sN",
  "tags": []
}